## collection type

1. list
2. tuple
3. dictionary

In [14]:
#list->indexed,ordered,mutable,allows duplicate values
list1 = [12,23,45.6,"abc",True]
#Adding elements
list1.append(45.6)
list1.append(100)
print(list1)
list1.insert(3,200)
list1.extend([400,500,600])
print(list1)

[12, 23, 45.6, 'abc', True, 45.6, 100]
[12, 23, 45.6, 200, 'abc', True, 45.6, 100, 400, 500, 600]

In [15]:
del list1[-1]
print(list1)

[12, 23, 45.6, 200, 'abc', True, 45.6, 100, 400, 500]

In [17]:
#remove elements = pop,remove
del list1[-1]
print(list1)
#r = list1.pop(4)
list1.remove(23)
print(list1)

[23, 45.6, 200, 'abc', True, 45.6, 100]
[45.6, 200, 'abc', True, 45.6, 100]

In [18]:
list1.append(200)
print(list1)

[45.6, 200, 'abc', True, 45.6, 100, 200]

In [19]:
list1.reverse()
list1

[200, 100, 45.6, True, 'abc', 200, 45.6]

In [20]:
list1.index(200)

0

In [25]:
list2 = list1
list2

[200, 100, 45.6, True, 'abc', 200, 45.6]

In [27]:
list3 = list1
list3

[200, 100, 45.6, True, 'abc', 200, 45.6, 400, 900]

In [28]:
list1.append(400)
list1.append(900)
print(list1,list2,list3)

[200, 100, 45.6, True, 'abc', 200, 45.6, 400, 900, 400, 900] [200, 100, 45.6, True, 'abc', 200, 45.6, 400, 900, 400, 900] [200, 100, 45.6, True, 'abc', 200, 45.6, 400, 900, 400, 900]

In [29]:
list1.count(100)

1

### Accept three subjects marks of the student at run time and store values in a list
### return total marks of a student

In [33]:
a = int(input("sub marks:"))
b = int(input("sub marks:"))
c = int(input("sub marks:"))
marks = [a,b,c]
sun = 0
for i in marks:
    sun += i
print("total marks:",sun)

sub marks:45
sub marks:45
sub marks:45
total marks: 135

In [36]:
#tuple-->indexed,ordered,allows duplicate values,immutable
# use()
t1 = (23,34,45,67)
l1 = list(t1)
l1[2] = 100
t1 = tuple(l1)
t1

(23, 34, 100, 67)

In [43]:
# dict1 = {key1:value1,key2:value2,....}
# rules for keys:
# 1.keys should be unique,
# 2.keys should be immutable(numbers,strings,tuple)
s1 = {"name":"sanjana","rollnumber":49,"course":"cse"}
# adding new entry
s1["address"] = "hyd"
s1["name"]#extracting values from the dictionary
s1

{'name': 'sanjana', 'rollnumber': 49, 'course': 'cse', 'address': 'hyd'}

In [44]:
del s1["course"]
s1

{'name': 'sanjana', 'rollnumber': 49, 'address': 'hyd'}

In [45]:
#updating your dictionary
s1["address"] = "bangalore"
s1

{'name': 'sanjana', 'rollnumber': 49, 'address': 'bangalore'}